html{
	width:100%;
	background-color: #ffffcc;
	font-family: "Arial",sans-serif;
	font-style:normal;
	color:#330000;
}
ul{
	list-style-type: none;

}
h1.fontface{
	text-align: center;
	color:#663300;
	font: 100px/108px 'MatchbookMatchbook', Arial, sans-serif;letter-spacing: 0;}

div#address{
	width:400px;
	height:65px;
	margin-left:auto;
	margin-right: auto;
	margin-top:105px;
}
div#where{
	float:left;
	/*line-height: 5;*/
}
div#submit{
	width:50px;
	height:51px;
	margin:0;
	margin-left:5px;
	float:left;
	line-height: 9;
}
#map{float:left;}

@font-face {
    font-family: 'MatchbookMatchbook';
    src: url('Matchbook-webfont.eot');
    src: url('Matchbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('Matchbook-webfont.woff') format('woff'),
         url('Matchbook-webfont.ttf') format('truetype'),
         url('Matchbook-webfont.svg#MatchbookMatchbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

