html{
	width:100%;
	background-color: #ffffcc;
	font-family: "Arial",sans-serif;
	font-style:normal;
	color:#330000;
}
ul{
	list-style-type: none;

}
h1{
	text-align: center;
	color:#663300;
	font-size: 55pt;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}

div#address{
	width:400px;
	height:65px;
	margin-left:auto;
	margin-right: auto;
	margin-top:105px;
}
div#where{
	float:left;
	/*line-height: 5;*/
}
div#submit{
	width:50px;
	height:51px;
	margin:0;
	margin-left:5px;
	float:left;
	line-height: 10;
}
#map{float:left;}


